<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.b4u">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.B4u">
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".Purchased"
            android:exported="false" />
        <activity
            android:name=".UpdateProfile"
            android:exported="false" />
        <activity
            android:name=".intro_3"
            android:exported="false" />
        <activity
            android:name=".intro_2"
            android:exported="false" />
        <activity
            android:name=".activity_intro1"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".IntroActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateAccountActivity"
            android:exported="true" />
        <activity
            android:name=".cart_acitivity"
            android:exported="false" />
        <activity
            android:name=".Product_details"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".CareProduct_details"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>